<div class="w-full flex flex-col justify-start items-center">
  <h1 class="font-bold text-4xl mb-4 md:mb-10 text-start w-full text-gray-800">Admin Dashboard</h1>
  <div class="flex flex-col gap-10 justify-center md:flex-row items-center md:justify-between w-full">
    <div class="max-w-sm rounded overflow-hidden w-full md:w-48 shadow-xl bg-gradient-to-r from-blue-500 to-blue-400">
      <div class="px-6 py-4">
        <h2 class="font-bold text-xl mb-2 text-white">Sign Ups</h2>
        <p class="text-white text-base">
          <%= @quick_stats[:sign_ups] %>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden w-full md:w-48 shadow-xl bg-gradient-to-r from-green-500 to-green-400">
      <div class="px-6 py-4">
        <h2 class="font-bold text-xl mb-2 text-white">Sales</h2>
        <p class="text-white text-base">
          <%= @quick_stats[:sales] %>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden w-full md:w-48 shadow-xl bg-gradient-to-r from-yellow-500 to-yellow-400">
      <div class="px-6 py-4">
        <h2 class="font-bold text-xl mb-2 text-white">Lessons Done</h2>
        <p class="text-white text-base">
          <%= @quick_stats[:completed_lessons] %>
        </p>
      </div>
    </div>
    <div class="max-w-sm rounded overflow-hidden w-full md:w-48 shadow-xl bg-gradient-to-r from-purple-500 to-purple-400">
      <div class="px-6 py-4">
        <h2 class="font-bold text-xl mb-2 text-white">Total Sign Ups</h2>
        <p class="text-white text-base">
          <%= @quick_stats[:total_sign_ups] %>
        </p>
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col justify-between items-center md:flex-row mt-8" data-controller="dashboard" data-dashboard-signups-value=<%= @sign_ups_by_day.to_json %> data-dashboard-completed-value=<%= @completed_lessons_by_day.to_json %>>
    <div class="w-full md:w-1/2">
      <h2 class="font-bold text-2xl my-8 text-center text-gray-800">Completed Lessons</h2>
      <canvas id="chart"></canvas>
    </div>
    <div class="w-full md:w-1/2">
      <h2 class="font-bold text-2xl my-8 text-center text-gray-800">Sign Ups</h2>
      <canvas id="sign_ups_chart"></canvas>
    </div>
  </div>

  <div class="w-full overflow-x-auto my-6">
    <h2 class="font-bold text-2xl my-8 text-gray-800">Most Popular Courses</h2>
    <table class="min-w-full bg-white shadow-md rounded-lg" style="border-collapse: separate; border-spacing: 0;">
      <thead>
        <tr class="bg-gray-100 text-gray-600">
          <th class="px-6 py-3 border-b-2 border-gray-200 text-start">Title</th>
          <th class="px-6 py-3 border-b-2 border-gray-200 text-start">Users</th>
        </tr>
      </thead>
      <tbody class="text-gray-800">
        <% @most_popular_courses.each do |course| %>
          <tr class="hover:bg-gray-100">
            <td class="px-6 py-4 border-b border-gray-200"><%= course.title %></td>
            <td class="px-6 py-4 border-b border-gray-200"><%= course.course_users.count %></td>
          </tr>
        <% end %> 
      </tbody>
    </table>
  </div>
</div>
