<div class="flex flex-col justify-start items-center w-full">
  <p style="color: green;"><%= notice %></p>

  <div class="my-4">
    <%= render @admin_user %>
  </div>

  <div class="flex gap-2 mb-6">
    <%= link_to "Back to users", admin_users_path, class: "bg-blue-600 hover:bg-blue-700 rounded px-3 py-1 text-white" %>
    <%= button_to "Destroy this user", [:admin, @admin_user], method: :delete, data: {'turbo-confirm': "Are you sure?"}, class: "bg-red-600 hover:bg-red-700 rounded px-3 py-1 text-white" %>
  </div>

  <div>
    <h2 class="mb-4 font-semibold text-xl">User Started Courses</h2>
    <table class="min-w-full bg-white shadow rounded-lg">
      <thead>
        <tr class="bg-gray-200 text-gray-700">
          <th class="px-6 py-3 border-b-2 border-gray-300 text-start">Course Title</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-start">Completed Percentage</th>
          <th class="px-6 py-3 border-b-2 border-gray-300 text-start">Paid</th>
        </tr>
      </thead>
      <tbody class="text-gray-900">
        <% @admin_courses.each do |course| %>
          <% user_completed_percentage = @user_course_progresses.find {|cp| cp[:course_id] == course.id}[:completed_percentage] %>
          <% user_paid = @admin_user.course_users.any?{|cu| cu.course_id == course.id } %>
          <tr class="hover:bg-gray-50">
            <td class="px-6 py-4 border-b border-gray-300"><%= course.title %></td>
            <td class="px-6 py-4 border-b border-gray-300"><%= user_completed_percentage %></td>
            <td class="px-6 py-4 border-b border-gray-300">
              <%= user_paid ? (icon('fa-solid', 'money-bill', class: "text-green-500")) : icon('fa-regular', 'circle-xmark', class: "text-red-500") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
